// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

// Media alignment
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: var(--gutter) auto;
}

.alignleft,
.alignright {
  display: block;
  margin-top: var(--gutter-xs);
  margin-bottom: var(--gutter-xs);
}

@media (--tablet) {
  .alignleft {
    float: left;
    margin-right: var(--gutter);
  }

  .alignright {
    float: right;
    margin-left: var(--gutter);
  }
}
