.u-container {
  lost-center: var(--container-max-width) no-flex;
  padding-left: var(--gutter-sm);
  padding-right: var(--gutter-sm);

  @media (--desktop) {
    padding-left: var(--gutter-xl);
    padding-right: var(--gutter-xl);
  }
}

.u-flex-column {
  width: 100%;
  lost-flex-container: column;
}

.u-flex-row {
  width: 100%;
  lost-flex-container: row;
}

.u-center {
  lost-align: center;
}

.u-1\/2 {
  lost-column: 1/2 2 var(--gutter);
}

.u-1\/3 {
  lost-column: 1/3 3 var(--gutter);
}

.u-2\/3 {
  lost-column: 2/3 3 var(--gutter);
}

.u-1\/4 {
  lost-column: 1/4 4 var(--gutter);
}

.u-2\/4 {
  lost-column: 2/4 4 var(--gutter);
}

.u-3\/4 {
  lost-column: 3/4 4 var(--gutter);
}

.u-1\/6 {
  lost-column: 1/6 6 var(--gutter);
}

.u-2\/6 {
  lost-column: 2/6 6 var(--gutter);
}

.u-3\/6 {
  lost-column: 3/6 6 var(--gutter);
}

.u-4\/6 {
  lost-column: 4/6 6 var(--gutter);
}

.u-5\/6 {
  lost-column: 5/6 6 var(--gutter);
}

.u-1\/12 {
  lost-column: 1/12 12 var(--gutter);
}

.u-2\/12 {
  lost-column: 2/12 12 var(--gutter);
}

.u-3\/12 {
  lost-column: 3/12 12 var(--gutter);
}

.u-4\/12 {
  lost-column: 4/12 12 var(--gutter);
}

.u-5\/12 {
  lost-column: 5/12 12 var(--gutter);
}

.u-6\/12 {
  lost-column: 6/12 12 var(--gutter);
}

.u-7\/12 {
  lost-column: 7/12 12 var(--gutter);
}

.u-8\/12 {
  lost-column: 8/12 12 var(--gutter);
}

.u-9\/12 {
  lost-column: 9/12 12 var(--gutter);
}

.u-10\/12 {
  lost-column: 10/12 12 var(--gutter);
}

.u-11\/12 {
  lost-column: 11/12 12 var(--gutter);
}

.u-1\/12 {
  lost-column: 1/12 12 var(--gutter);
}

@media (--tablet) {
  .u-1\/2\@tablet {
    lost-column: 1/2 2 var(--gutter);
  }

  .u-1\/3\@tablet {
    lost-column: 1/3 3 var(--gutter);
  }

  .u-2\/3\@tablet {
    lost-column: 2/3 3 var(--gutter);
  }

  .u-1\/4\@tablet {
    lost-column: 1/4 4 var(--gutter);
  }

  .u-2\/4\@tablet {
    lost-column: 2/4 4 var(--gutter);
  }

  .u-3\/4\@tablet {
    lost-column: 3/4 4 var(--gutter);
  }

  .u-1\/6\@tablet {
    lost-column: 1/6 6 var(--gutter);
  }

  .u-2\/6\@tablet {
    lost-column: 2/6 6 var(--gutter);
  }

  .u-3\/6\@tablet {
    lost-column: 3/6 6 var(--gutter);
  }

  .u-4\/6\@tablet {
    lost-column: 4/6 6 var(--gutter);
  }

  .u-5\/6\@tablet {
    lost-column: 5/6 6 var(--gutter);
  }

  .u-1\/12\@tablet {
    lost-column: 1/12 12 var(--gutter);
  }

  .u-2\/12\@tablet {
    lost-column: 2/12 12 var(--gutter);
  }

  .u-3\/12\@tablet {
    lost-column: 3/12 12 var(--gutter);
  }

  .u-4\/12\@tablet {
    lost-column: 4/12 12 var(--gutter);
  }

  .u-5\/12\@tablet {
    lost-column: 5/12 12 var(--gutter);
  }

  .u-6\/12\@tablet {
    lost-column: 6/12 12 var(--gutter);
  }

  .u-7\/12\@tablet {
    lost-column: 7/12 12 var(--gutter);
  }

  .u-8\/12\@tablet {
    lost-column: 8/12 12 var(--gutter);
  }

  .u-9\/12\@tablet {
    lost-column: 9/12 12 var(--gutter);
  }

  .u-10\/12\@tablet {
    lost-column: 10/12 12 var(--gutter);
  }

  .u-11\/12\@tablet {
    lost-column: 11/12 12 var(--gutter);
  }

  .u-1\/12\@tablet {
    lost-column: 1/12 12 var(--gutter);
  }
}

@media (--desktop) {
  .u-1\/2\@desktop {
    lost-column: 1/2 2 var(--gutter);
  }

  .u-1\/3\@desktop {
    lost-column: 1/3 3 var(--gutter);
  }

  .u-2\/3\@desktop {
    lost-column: 2/3 3 var(--gutter);
  }

  .u-1\/4\@desktop {
    lost-column: 1/4 4 var(--gutter);
  }

  .u-2\/4\@desktop {
    lost-column: 2/4 4 var(--gutter);
  }

  .u-3\/4\@desktop {
    lost-column: 3/4 4 var(--gutter);
  }

  .u-1\/6\@desktop {
    lost-column: 1/6 6 var(--gutter);
  }

  .u-2\/6\@desktop {
    lost-column: 2/6 6 var(--gutter);
  }

  .u-3\/6\@desktop {
    lost-column: 3/6 6 var(--gutter);
  }

  .u-4\/6\@desktop {
    lost-column: 4/6 6 var(--gutter);
  }

  .u-5\/6\@desktop {
    lost-column: 5/6 6 var(--gutter);
  }

  .u-1\/12\@desktop {
    lost-column: 1/12 12 var(--gutter);
  }

  .u-2\/12\@desktop {
    lost-column: 2/12 12 var(--gutter);
  }

  .u-3\/12\@desktop {
    lost-column: 3/12 12 var(--gutter);
  }

  .u-4\/12\@desktop {
    lost-column: 4/12 12 var(--gutter);
  }

  .u-5\/12\@desktop {
    lost-column: 5/12 12 var(--gutter);
  }

  .u-6\/12\@desktop {
    lost-column: 6/12 12 var(--gutter);
  }

  .u-7\/12\@desktop {
    lost-column: 7/12 12 var(--gutter);
  }

  .u-8\/12\@desktop {
    lost-column: 8/12 12 var(--gutter);
  }

  .u-9\/12\@desktop {
    lost-column: 9/12 12 var(--gutter);
  }

  .u-10\/12\@desktop {
    lost-column: 10/12 12 var(--gutter);
  }

  .u-11\/12\@desktop {
    lost-column: 11/12 12 var(--gutter);
  }

  .u-1\/12\@desktop {
    lost-column: 1/12 12 var(--gutter);
  }
}


.u-offset-1\/2 {
  lost-offset: 1/2 2 var(--gutter);
}

.u-offset-1\/3 {
  lost-offset: 1/3 3 var(--gutter);
}

.u-offset-2\/3 {
  lost-offset: 2/3 3 var(--gutter);
}

.u-offset-1\/4 {
  lost-offset: 1/4 4 var(--gutter);
}

.u-offset-2\/4 {
  lost-offset: 2/4 4 var(--gutter);
}

.u-offset-3\/4 {
  lost-offset: 3/4 4 var(--gutter);
}

.u-offset-1\/6 {
  lost-offset: 1/6 6 var(--gutter);
}

.u-offset-2\/6 {
  lost-offset: 2/6 6 var(--gutter);
}

.u-offset-3\/6 {
  lost-offset: 3/6 6 var(--gutter);
}

.u-offset-4\/6 {
  lost-offset: 4/6 6 var(--gutter);
}

.u-offset-5\/6 {
  lost-offset: 5/6 6 var(--gutter);
}

.u-offset-1\/12 {
  lost-offset: 1/12 12 var(--gutter);
}

.u-offset-2\/12 {
  lost-offset: 2/12 12 var(--gutter);
}

.u-offset-3\/12 {
  lost-offset: 3/12 12 var(--gutter);
}

.u-offset-4\/12 {
  lost-offset: 4/12 12 var(--gutter);
}

.u-offset-5\/12 {
  lost-offset: 5/12 12 var(--gutter);
}

.u-offset-6\/12 {
  lost-offset: 6/12 12 var(--gutter);
}

.u-offset-7\/12 {
  lost-offset: 7/12 12 var(--gutter);
}

.u-offset-8\/12 {
  lost-offset: 8/12 12 var(--gutter);
}

.u-offset-9\/12 {
  lost-offset: 9/12 12 var(--gutter);
}

.u-offset-10\/12 {
  lost-offset: 10/12 12 var(--gutter);
}

.u-offset-11\/12 {
  lost-offset: 11/12 12 var(--gutter);
}

.u-offset-1\/12 {
  lost-offset: 1/12 12 var(--gutter);
}

@media (--tablet) {
  .u-offset-1\/2\@tablet {
    lost-offset: 1/2 2 var(--gutter);
  }

  .u-offset-1\/3\@tablet {
    lost-offset: 1/3 3 var(--gutter);
  }

  .u-offset-2\/3\@tablet {
    lost-offset: 2/3 3 var(--gutter);
  }

  .u-offset-1\/4\@tablet {
    lost-offset: 1/4 4 var(--gutter);
  }

  .u-offset-2\/4\@tablet {
    lost-offset: 2/4 4 var(--gutter);
  }

  .u-offset-3\/4\@tablet {
    lost-offset: 3/4 4 var(--gutter);
  }

  .u-offset-1\/6\@tablet {
    lost-offset: 1/6 6 var(--gutter);
  }

  .u-offset-2\/6\@tablet {
    lost-offset: 2/6 6 var(--gutter);
  }

  .u-offset-3\/6\@tablet {
    lost-offset: 3/6 6 var(--gutter);
  }

  .u-offset-4\/6\@tablet {
    lost-offset: 4/6 6 var(--gutter);
  }

  .u-offset-5\/6\@tablet {
    lost-offset: 5/6 6 var(--gutter);
  }

  .u-offset-1\/12\@tablet {
    lost-offset: 1/12 12 var(--gutter);
  }

  .u-offset-2\/12\@tablet {
    lost-offset: 2/12 12 var(--gutter);
  }

  .u-offset-3\/12\@tablet {
    lost-offset: 3/12 12 var(--gutter);
  }

  .u-offset-4\/12\@tablet {
    lost-offset: 4/12 12 var(--gutter);
  }

  .u-offset-5\/12\@tablet {
    lost-offset: 5/12 12 var(--gutter);
  }

  .u-offset-6\/12\@tablet {
    lost-offset: 6/12 12 var(--gutter);
  }

  .u-offset-7\/12\@tablet {
    lost-offset: 7/12 12 var(--gutter);
  }

  .u-offset-8\/12\@tablet {
    lost-offset: 8/12 12 var(--gutter);
  }

  .u-offset-9\/12\@tablet {
    lost-offset: 9/12 12 var(--gutter);
  }

  .u-offset-10\/12\@tablet {
    lost-offset: 10/12 12 var(--gutter);
  }

  .u-offset-11\/12\@tablet {
    lost-offset: 11/12 12 var(--gutter);
  }

  .u-offset-1\/12\@tablet {
    lost-offset: 1/12 12 var(--gutter);
  }
}

@media (--desktop) {
  .u-offset-1\/2\@desktop {
    lost-offset: 1/2 2 var(--gutter);
  }

  .u-offset-1\/3\@desktop {
    lost-offset: 1/3 3 var(--gutter);
  }

  .u-offset-2\/3\@desktop {
    lost-offset: 2/3 3 var(--gutter);
  }

  .u-offset-1\/4\@desktop {
    lost-offset: 1/4 4 var(--gutter);
  }

  .u-offset-2\/4\@desktop {
    lost-offset: 2/4 4 var(--gutter);
  }

  .u-offset-3\/4\@desktop {
    lost-offset: 3/4 4 var(--gutter);
  }

  .u-offset-1\/6\@desktop {
    lost-offset: 1/6 6 var(--gutter);
  }

  .u-offset-2\/6\@desktop {
    lost-offset: 2/6 6 var(--gutter);
  }

  .u-offset-3\/6\@desktop {
    lost-offset: 3/6 6 var(--gutter);
  }

  .u-offset-4\/6\@desktop {
    lost-offset: 4/6 6 var(--gutter);
  }

  .u-offset-5\/6\@desktop {
    lost-offset: 5/6 6 var(--gutter);
  }

  .u-offset-1\/12\@desktop {
    lost-offset: 1/12 12 var(--gutter);
  }

  .u-offset-2\/12\@desktop {
    lost-offset: 2/12 12 var(--gutter);
  }

  .u-offset-3\/12\@desktop {
    lost-offset: 3/12 12 var(--gutter);
  }

  .u-offset-4\/12\@desktop {
    lost-offset: 4/12 12 var(--gutter);
  }

  .u-offset-5\/12\@desktop {
    lost-offset: 5/12 12 var(--gutter);
  }

  .u-offset-6\/12\@desktop {
    lost-offset: 6/12 12 var(--gutter);
  }

  .u-offset-7\/12\@desktop {
    lost-offset: 7/12 12 var(--gutter);
  }

  .u-offset-8\/12\@desktop {
    lost-offset: 8/12 12 var(--gutter);
  }

  .u-offset-9\/12\@desktop {
    lost-offset: 9/12 12 var(--gutter);
  }

  .u-offset-10\/12\@desktop {
    lost-offset: 10/12 12 var(--gutter);
  }

  .u-offset-11\/12\@desktop {
    lost-offset: 11/12 12 var(--gutter);
  }

  .u-offset-1\/12\@desktop {
    lost-offset: 1/12 12 var(--gutter);
  }
}
