@font-face {
  font-family: 'Play';
  src: url('~assets/fonts/play.woff2') format('woff2'),
  url('~assets/fonts/play.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('~assets/fonts/roboto-slab.woff2') format('woff2'),
  url('~assets/fonts/roboto-slab.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
