table {
  margin: 0 auto var(--gutter) auto;
  border-collapse: collapse;
}

td {
  text-align: left;
  border: 1px solid var(--text-color);
  padding: var(--gutter-xs);
}

th {
  text-align: left;
  border: 1px solid var(--text-color);
  padding: var(--gutter-xs);
}
